.App-Outer {
  width: 375px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  top: 60px;
  position: sticky;

}

.App-Menu {
  margin-top: 48px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.App-Button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgb(255, 255, 255);
  width: 100%;
  margin: 0px;
  text-decoration: none;
  border-radius: 8px;
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
}

.App-ButtonText {
  display: block;
  position: relative;
  pointer-events: none;
}

.PlaceInfo-Container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.PlaceInfo-Left {
margin-bottom: 24px;

}

.PlaceInfo-Right {
  font-size: 14px;
  line-height: 18px;
  margin-left: 48%
  }

.PlaceInfo-Fee {
font-weight: 600;
/* font-size: 22px;
line-height: 26px; */
font-size: 22px !important;
line-height: 26px !important;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}


.PlaceInfo-Nightly {
font-weight: 400;
font-size: 16px;
line-height: 20px;
white-space: nowrap;
padding-left: 4px;
color: #222222;
}



.PlaceInfo-Star {
 font-family: Airmoji_Standalone;
 color: #FF385C;
 }

.PlaceInfo-Rating {
 padding-left: 4px;
font-weight: 600;
}

.PlaceInfo-Reviews {
padding-left: 4px;
color: rgb(113, 113, 113);
}

.Options-Container {
  margin-top: 1.5em;
  border-radius: 8px;
  border: 1px solid rgb(176, 176, 176);
  margin-bottom: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  }

  .Fees-Message {
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    margin: 16px 0px 0px;
    padding: 0px;
  }

  .Fees-Fees {
    margin-top: 24px;
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .Fees-List {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .Fees-ListEntry {
    padding-bottom: 12px;
    display: flex;
  }

  .Fees-EntryLeft {
    flex-shrink: 1;
    flex-grow: 1;
    white-space: normal;
    text-decoration: underline;
  }

  .Fees-EntryRight {
    padding-left: 16px;
    white-space: nowrap;
  }

  .Fees-Total {
    list-style-type: none;
    border-top: 1px solid rgb(221, 221, 221);
    margin: 16px 0px 0px;
    padding: 24px 0px 12px;
    display: flex;
  }

  .Fees-TotalLeft {
    flex-shrink: 1;
    flex-grow: 1;
    white-space: normal;
    font-weight: 800;
  }

  .Fees-TotalRight {
    padding-left: 16px;
    white-space: nowrap;
    font-weight: 800;
  }

  .Dates-Container {
    display: flex;
  }

  .Dates-Checkin {
    position: relative;
    flex: 1 1 0%;
  }

  .Dates-Checkout {
    position: relative;
    flex: 1 1 0%;
    border-left: 1px solid rgb(176, 176, 176);
  }

  .Dates-CheckTile {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    font-size: 10px;
    font-weight: 800;
  }

  .Dates-AddDate {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 26px;
    padding-bottom: 10px;
    font-size: 14px;
    color: rgb(113, 113, 113);
  }

  .Guests-Container {
    margin-bottom: 24px;
    align-items: center;
    display: flex;
    width: 100%;
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
  }

  .Guests-Left {
    flex: 1 1 0%;
  }

  .Guests-Right {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 104px;
    height: 32px;
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  }

  .Guests-GuestType {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  .Guests-GuestTypeInf {
    font-size: 14px;
    line-height: 18px;
    padding-top: 4px;
  }

  .Guests-GuestNum {
    position: relative;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .Guests-GuestButton {
    width: 32px;
    height: 32px;
    display: inline-flex;
    color: rgb(113, 113, 113);
    font-family: inherit;
    justify-content: center;
    padding-bottom: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    touch-action: manipulation;
    align-items: center;
    margin: 0px;
    text-decoration: none;
    outline: none;
}

.Guests-GuestButton:hover {
  color: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
}

.Guests-DisableGuestButton {
  width: 32px;
  height: 32px;
  display: inline-flex;
  font-family: inherit;
  justify-content: center;
  padding-bottom: 4px;
  border-width: 1px;
  border-style: solid;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 22px;
  text-align: center;
  touch-action: manipulation;
  align-items: center;
  margin: 0px;
  text-decoration: none;
  outline: none;
  cursor: not-allowed;
  color: rgb(235, 235, 235);
  border-color: rgb(235, 235, 235);

}

.CalendarModal-Container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  position: absolute;
  top: 50px;
  right: -10px;
  width: 661px;
  z-index: 3;
  min-height: 460px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.CalendarModal-Top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.CalendarModal-Bottom {
  display: flex;
  height: 100%;
}

.CalendarModal-TopLeft {
  order: 1;
}

.CalendarModal-TopRight {
  flex-basis: 315px;
  order: 2;
  margin-left: 24px;
  min-width: 270px;
  display: flex;
  box-shadow: rgb(176, 176, 176) 0px 0px 0px 1px inset;
  border-radius: 8px;
}

.CalendarModal-SelectDate {
  margin: 0px;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.CalendarModal-MinimumStay {
  color: rgb(113, 113, 113);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 8px;
  max-height: 36px;
  height: 36px;
}

.CalendarModal-CheckIn {
  position: relative;
  flex: 1 1 0%;
}

.CalendarModal-CheckOut {
  position: relative;
  flex: 1 1 0%;
  border-left: 1px solid rgb(176, 176, 176);
}

.CalendarModal-CheckTitle {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  font-size: 10px;
  font-weight: 800;
}


.CalendarModal-AddDate {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 26px;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgb(113, 113, 113);
}

.Calendar-Container {
  min-height: 355px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-bottom: 36px;
}

.Calendar-Top {
  width: 660px;
  position: relative;
  text-align: left;
  background: rgb(255, 255, 255);
}

.Calendar-Bottom {
  position: absolute;
  left: auto;
  right: 20px;
  bottom: 3px;
}

.Calendar-WeekDaysContainer {
  position: absolute;
  top: 62px;
  text-align: left;
  padding: 0px 8px;
}

.Calendar-WeekDays {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 0px;
  padding-right: 0px;
  list-style: none;
  margin: 1px 0px;
}

.Calendar-Bottom {
  width: 45px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: rgb(113, 113, 113);
}

.Calendar-PrevButtonContainer {
  position: absolute;
  left: 15px;
  top: 15px;
}

.Calendar-NextButtonContainer {
  position: absolute;
  right: 15px;
  top: 15px;
}

.Calendar-PrevNextButton {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  border-width: initial;
  border-style: none;
  outline: 0px;
  padding: 10px;
  background: transparent;
}

.Calendar-PrevNextButton:hover {
  background: rgb(247, 247, 247);
}

.Calendar-DisablePrevButton {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  border-width: initial;
  border-style: none;
  outline: 0px;
  padding: 10px;
  background: transparent;
  opacity: 0.5;
  cursor: not-allowed;
  color: rgb(221, 221, 221);
}

.Calendar-MonthAndDayContainer {
  width: 660px;
  height: 361px;
  position: relative;
  overflow: hidden;
}

.Calendar-MonthAndDay {
  width: 660px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  background: transparent;
}

/* .Calendar-SingleCalendar {

} */

.Calendar-MonthContainer {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 50px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 600;
  line-height: 20px;
  width: 300px;
}

.Calendar-WeekTable {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  display: flex;
  width: 100%;
margin-top: 5%;
font-size: 0.8em;
margin-bottom: 15%;
color: #989898;

}

.Calendar-Month {
  color: inherit;
  font-size: 1em;
  font-weight: 600;
  line-height: 20px;
  margin: 0px;
}

.Calendar-DaysTable {
  border-spacing: 0px 2px;
  border-collapse: separate;
}

.Calendar-EachDayContainer {
  text-align: center;
  padding: 0px;
  background: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 18px;
}

.Calendar-EachDay {
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 100%;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  color: rgb(34, 34, 34);
  font-weight: 600;
  cursor: pointer;
}

.Calendar-EachDay:hover {
  border-color: rgb(34, 34, 34);
}


.Calendar-DisableHoverEachDay {
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 100%;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  color: rgb(176, 176, 176);
  font-weight: 400;
  cursor: default;
  text-decoration: line-through;
}

.Calendar-Keyboard {
  position: absolute;
  left: 12px;
  right: auto;
  bottom: -38px;
}

.Calendar-KeyboardButton {
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  outline: 0px;
  padding: 10px;
  background: transparent;
}

.Calendar-KeyboardButton:hover {
  background: rgb(247, 247, 247);
}


.Calendar-ClearButton {
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 7em;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(34, 34, 34);
  margin: 0px -8px;
  border-radius: 8px;
  outline: none;
  border-style: none;
  background: transparent;
  text-decoration: underline;
}

.Calendar-ClearButton:hover {
  color: rgb(0, 0, 0);
  background: rgb(247, 247, 247);
}

.Calendar-CloseButton {
  cursor: pointer;
  position: relative;
  text-align: center;
  width: auto;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  outline: none;
  border-style: none;
  background: rgb(34, 34, 34);

}

.Calendar-CloseButton:hover {
  background: rgb(0,0,0);
}


.OptionsDates-Container{
  display: flex;
}

.OptionsDates-CheckIn{
  position: relative;
  flex: 1 1 0%;
}

.OptionsDates-CheckOut{
  position: relative;
  flex: 1 1 0%;
  border-left: 1px solid rgb(176, 176, 176);
}


.OptionsDates-CheckTitle{
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  font-size: 10px;
  font-weight: 800;
}


.OptionsDates-AddDate{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 26px;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgb(113, 113, 113);
}

.CalendarSelector-Container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  position: absolute;
  top: 50px;
  right: -10px;
  width: 661px;
  z-index: 3;
  min-height: 460px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}



.CalendarSelector-Top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.CalendarSelector-Bottom {
  display: flex;
  height: 100%;
}

.CalendarSelector-TopLeft {
  order: 1;
}

.CalendarSelector-TopRight {
  flex-basis: 315px;
  order: 2;
  margin-left: 24px;
  min-width: 270px;
  display: flex;
  box-shadow: rgb(176, 176, 176) 0px 0px 0px 1px inset;
  border-radius: 8px;
}

.CalendarSelector-SelectDate {
  margin: 0px;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.CalendarSelector-MinimumStay {
  color: rgb(113, 113, 113);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 8px;
  max-height: 36px;
  height: 36px;
}

.CalendarSelector-CheckIn {
  position: relative;
  flex: 1 1 0%;
}

.CalendarSelector-CheckOut {
  position: relative;
  flex: 1 1 0%;
  border-left: 1px solid rgb(176, 176, 176);
}

.CalendarSelector-CheckTitle {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  font-size: 10px;
  font-weight: 800;
}

.CalendarSelector-AddDate {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 26px;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgb(113, 113, 113);
}

.OptionsGuests-Container {
  display: flex;
  border-top: 1px solid rgb(176, 176, 176);
}

.OptionsGuests-Guest {
  position: relative;
  flex: 1 1 0%;
}

.OptionsGuests-Arrow {
  position: relative;
  flex: 1 1 0%;
}

.OptionsGuests-GuestTitle {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  font-size: 10px;
  font-weight: 800;
}

.OptionsGuests-GuestNum {
  padding-left: 12px;
  padding-top: 26px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
}

.OptionsGuests-DownUpArrow {
  padding-right: 12px;
  right: 0px;
  top: 30%;
  position: absolute;
}

.GuestsSelector-Container {
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 53px;
  min-width: 280px;
  position: absolute;
  text-align: left;
  width: 86.3%;
  z-index: 2;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 16px;
}


.GuestsSelector-Sentence {
  font-size: 14px;
  line-height: 18px;
  color: rgb(113, 113, 113);
  margin-bottom: 16px;
}


.GuestsSelector-Last {
  display: flex;
  justify-content: flex-end;
}

.GuestsSelector-Close {
  position: relative;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(34, 34, 34);
  margin: 0px -10px;
  border-style: none;
  background: transparent;
  text-decoration: underline;
}
